env_lg/
__pycache__/
linggle-core/linggle/process/test
linggle-core/flagged/



data/
experiment/
*.pyc
*.db
*.json
linggle-core/linggle/database/emiLinggle.db
linggle-core/linggle/database/emiLinggle_test.db